@model CarViewModel

@{
    ViewData["title"] = "Araç Güncelle";
}

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Araç Ekle</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="table-responsive " style="width:100%">

            <div class="mt-2 container">
                <form method="post" enctype="multipart/form-data">

                    @if (!ViewContext.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            @Html.ValidationSummary()
                        </div>
                    }

                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label asp-for="CarName">Araç Giriniz</label>
                            <input type="text" asp-for="CarName" class="form-control" placeholder="Araç Adı" required>
                            <span asp-validation-for="CarName"></span>
                        </div>
                        <div class="col-md-4 mb-3 form-group">
                            <label asp-for="Year">Araç Yılı</label>
                            <input type="number" class="form-control" id="week" asp-for="Year">
                            <span asp-validation-for="Year"></span>
                        </div>

                        <div class="col-md-4 mb-3 form-group">
                            <label asp-for="Safe">Kasa Tipi</label>
                            <select class="custom-select" asp-for="Safe" asp-items="@Html.GetEnumSelectList<Safe>()">
                                <option selected="selected" value="">Kasa Tipi</option>
                            </select>
                            <span asp-validation-for="Safe"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3 form-group">
                            <label>Yakıt Tipi</label>
                            <select class="custom-select" asp-for="FuelType" asp-items="@Html.GetEnumSelectList<FuelType>()">
                                <option selected="selected" value="">Yakıt Seçiniz</option>
                            </select>
                            <span asp-validation-for="FuelType"></span>
                        </div>
                        <div class="col-md-4 mb-3 form-group">
                            <label>Vites Türü</label>
                            <select class="custom-select" asp-for="GearType" asp-items="@Html.GetEnumSelectList<GearType>()">
                                <option selected="selected" value="">Vites Seçiniz</option>
                            </select>
                            <span asp-validation-for="GearType"></span>
                        </div>
                        <div class="col-md-4 mb-3 form-group">
                            <label>Kilometre</label>
                            <input type="number" class="form-control" id="week" asp-for="Kilometer">
                            <span asp-validation-for="Kilometer"></span>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3 form-group">
                            <label asp-for="Armchair">Koltuk Sayısı</label>
                            <input type="number" class="form-control" id="week" asp-for="Armchair">
                            <span asp-validation-for="Armchair"></span>
                        </div>
                        <div class="col-md-4 mb-3 form-group">
                            <label>Valiz Sayısı</label>
                            <input type="number" class="form-control" id="week" asp-for="SuitCase">
                            <span asp-validation-for="SuitCase"></span>
                        </div>
                        <div class="col-md-4 mb-3 form-group">
                            <label>Ehliyet</label>
                            <select class="custom-select" asp-for="Licence" asp-items="@Html.GetEnumSelectList<Licence>()">
                                <option selected="selected" value="">Ehliyet Seçiniz</option>
                            </select>
                            <span asp-validation-for="Licence"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationTooltip01" asp-for="Plate">Araç Plakası</label>
                            <input type="text" asp-for="Plate" class="form-control" placeholder="Araç Adı" required>
                            <span asp-validation-for="Plate"></span>
                        </div>
                    </div>

                    <div class="form-row border">
                        <div class="pl-3 col-12 form-group row ">

                            @foreach (var feature in ViewBag.CarFeatures as IEnumerable<SelectListItem>)
                            {
                                <div class=" form-check form-check-inline">
                                    <input type="checkbox" class="form-check-input" id="feature_@feature.Value" name="SelectedFeatures" value="@feature.Value" @(feature.Selected ? "checked" : "")>
                                    <label class="form-check-label " for="feature_@feature.Value">@feature.Text</label>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12 form-group">
                            <label asp-for="PhotoFile"></label>
                            <div class="custom-file" id="main">
                                <input type="file" class="custom-file-input" id="PhotoFile" name="PhotoFile" accept="image/*">
                                <label class="custom-file-label" for="customFile" data-browse="Dosya Seç">dosya seçiniz...</label>
                            </div>
                            <div id="photoOne" class="d-flex flex-wrap py-2">

                                <div id="hover-select" class="p-2 border mr-2">
                                    <img id="PhotoPreview" src="@Model.Photo" height="200" />
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-12 form-group">
                            <label asp-for="PhotoFiles"></label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="PhotoFiles" name="PhotoFiles" multiple accept="image/*">
                                <label class="custom-file-label" for="customFile" data-browse="Dosya Seç">dosya seçiniz...</label>
                            </div>
                            <div id="photoGallery" class="d-flex flex-wrap py-2">
                                @* @foreach (var carPicture in ViewBag.CarPicture as IEnumerable<CarPictureViewModel>)
                                {
                                    <div id="select-hover" class="p-2 border mr-2 hover-del">
                                        <img id="PhotoPreview" src="@carPicture.Photo" height="120" />
                                    </div>
                                } *@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 ml-3 form-group">
                        <input asp-for="Enabled" class="form-check-input" type="checkbox">
                        <label id="check" asp-for="Enabled" class="form-check-label"></label>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2" id="btn-save-image">
                        <i class="fa fa-save"></i> Kaydet
                    </button>
                    <a class="btn btn-link" asp-action="Index">İptal</a>
                </form>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/Projects.js"></script>
    <script>
        $(() => {

            $('#PhotoFile').on('change',function () {
                var reader = new FileReader();
                reader.onloadend = function (event) {
                    $('#photoOne').append('<div id="hover-select" class="p-2 border mr-2"><img src="' + event.currentTarget.result + '" height="200" /></div>')
                }
                reader.readAsDataURL(document.getElementById("PhotoFile").files[0]);
            });

            $('#PhotoFiles').change(function () {
                var files = document.getElementById("PhotoFiles").files;

                for (var i = 0; i < files.length; i++) {
                    console.log(i);
                    var reader = new FileReader();
                    reader.onloadend = function (event) {
                        $('#photoGallery').append('<div id="select-hover" class="p-2 border mr-2"><img src="' + event.currentTarget.result + '" height="120" /></div>')
                    }
                    reader.readAsDataURL(files[i]);
                }
            });

            $(document).ready(function () {
                $("#photoGallery").dblclick(function () {
                    $("#select-hover").remove();
                });

                $("#photoOne").dblclick(function () {
                    $("#hover-select").remove();
                });
            });
            //$('.summernote').summernote({
            //    height: 400
            //});
        });
    </script>
}
