@model IEnumerable<PricingViewModel>

@{
    ViewData["title"] = "Araç Fiyatlandırma";
}
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Araç Fiyatlandırma</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="table-responsive " style="width:100%;">
            <a asp-controller="Pricing" asp-action="Create" class="btn btn-info mt-2 mb-2 ml-2 "> <span class=" fas fa-plus"></span> Ekle</a>
            <table class="table" style="width:100%;">

                <thead>
                    <tr>
                        <th>
                            Araç Adı
                        </th>
                        <th>
                            Saatlik Ücret
                        </th>
                        <th>
                            Günlük Ücret
                        </th>
                        <th>
                            Aylık Ücret
                        </th>
                        <th>
                            Kaydı Yapan
                        </th>
                        <th>
                            Tarih
                        </th>
                        <th>
                            Aktif
                        </th>
                        <th class="d-flex justify-content-center">
                            İşlemler
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        @foreach (var pricing in Model)
                        {
                            <tr>
                                <td class="project-state" align="left">
                                    @(pricing.Cars.CarName ?? "Araç bulunamadı")
                                </td>
                                <td class="project-state" align="left">
                                    @pricing.HourlyRate
                                </td>
                                <td class="project-state" align="left">
                                    @pricing.DailyWages
                                </td>
                                <td class="project-state" align="left">
                                    @pricing.MonthlyFee
                                </td>
                                <td class="project-state" align="left">
                                    @(pricing.User?.Name ?? "Bulunamadı")
                                </td>
                                <td class="project-state" align="left">
                                    @pricing.DateCreated
                                </td>
                                @if (pricing.Enabled)
                                {
                                    <td class="project-state" align="left">
                                        <span class="badge badge-success sp">Var</span>
                                    </td>
                                }
                                else
                                {
                                    <td class="project-state" align="left">
                                        <span class="badge badge-danger">Yok</span>
                                    </td>
                                }
                                <td class="d-flex justify-content-center">
                                    <partial name="RowButtonsPartial" model="@pricing" />
                                </td>
                            </tr>

                        }
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>

@section Scripts {

}