@model IEnumerable<ReservationViewModel>
@{
    ViewData["title"] = "Rezervasyonlar";
}
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Rezervasyon Listesi</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="table-responsive" style="width:100%">
            <div id="btn-reservation">
                <a asp-controller="Reservation" asp-action="Create" class="btn btn-info  mt-2 mb-2 "> <span class=" fas fa-plus"></span> Rezervasyon Ekle</a><br />
            </div>
            @*<span class="float-right"><input type="search" class="form-control float-right " placeholder="Arama" aria-controls="example"></span>*@
            <table id="myTable" class="table">
                <thead>
                    <tr>
                        <th class="text-nowrap">
                            Araç İsmi
                        </th>
                        <th class="text-nowrap">
                            Müşteri Adı
                        </th>
                        <th class="text-nowrap">
                            Telefonu
                        </th>
                        <th class="text-nowrap">
                            E-Mail
                        </th>
                        <th class="text-nowrap">
                            Kiralama Tarihi
                        </th>
                        <th class="text-nowrap">
                            Alış Tarihi
                        </th>
                        <th class="text-nowrap">
                            Teslim Tarihi
                        </th>
                        <th class="text-nowrap">
                            Yakıt Tipi
                        </th>
                        <th class="text-nowrap">
                            Vites Türü
                        </th>
                        <th class="text-nowrap">
                            Kaydı Yapan
                        </th>
                        <th class="text-nowrap">
                            Kayıt Tarihi
                        </th>
                        <th>
                            Durum
                        </th>
                        <th>
                            İşlem
                        </th>
                    </tr>
                </thead>
                <tbody>


                    @if (Model != null && Model.Any())
                    {
                        @foreach (var Rezervasyon in Model)
                        {
                                <tr>
                                    <td class="text-nowrap">
                                        @Rezervasyon.Cars.CarName
                                    </td>
                                    <td class="text-nowrap">
                                        @Rezervasyon.NameSurname
                                    </td>
                                    <td class="text-nowrap">
                                        @Rezervasyon.Telephone
                                    </td>
                                    <td class="text-nowrap">
                                        @Rezervasyon.Email
                                    </td>
                                    <td>
                                        @Rezervasyon.RentalDate.ToShortDateString()
                                    </td>
                                    <td>
                                        @Rezervasyon.PurchaseDate.ToShortDateString()
                                    </td>
                                    <td>
                                        @Rezervasyon.DeliveryDate.ToShortDateString()
                                    </td>
                                    <td>
                                        @Rezervasyon.FuelType
                                    </td>
                                    <td>
                                        @Rezervasyon.GearType
                                    </td>
                                    <td class="text-nowrap">
                                        @(Rezervasyon.User?.Name ?? "user name")
                                    </td>
                                    <td>
                                        @Rezervasyon.DateCreated.ToShortDateString()
                                    </td>
                                    @if (Rezervasyon.Enabled)
                                    {
                                        <td class="project-state">
                                            <span class="badge badge-success">Aktif</span>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="project-state">
                                            <span class="badge badge-danger">Pasif</span>
                                        </td>
                                    }
                                    <td class="d-flex justify-content-center">
                                        <partial name="RowButtonsPartial" model="@Rezervasyon" />
                                    </td>
                                </tr>
                        }
                    }
                </tbody>

            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>


@section Scripts {

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                language: {
                    info: "_TOTAL_ kayıttan _START_ - _END_  Kayıt gösteriliyor.",
                    infoEmpty: "Gösterilecek hiç kayıt yok.",
                    loadingRecords: "Kayıtlar yükleniyor.",
                    lengthMenu: "Sayfada _MENU_  Kayıt Göster",
                    zeroRecords: "Tablo boş",
                    search: "Arama:",
                    infoFiltered: "(toplam _MAX_ kayıttan filtrelenenler)",
                    buttons: {
                        copyTitle: "Panoya kopyalandı.",
                        copySuccess: "Panoya %d satır kopyalandı",
                        copy: "Kopyala",
                        print: "Yazdır",
                    },
                    paginate: {
                        first: "İlk",
                        previous: "Önceki",
                        next: "Sonraki",
                        last: "Son"
                    },
                }
            });
            var colorText = "#ffffff";
            var backColor = "#343841";
            $("input[type='search']").on('click',function () {
                $("input[type='search']").css({ "color": colorText});
            });
            $("label").css("color", colorText);
            $("select option").css("background-color", backColor);
            //$("select").change(function () {

            //});

        });

    </script>

}